# Sorani Kurdish data using Seaborn

Enabling `mplcairo`, with `raqm`, as the backend for `matplotlib` will allow us to reuse the [Kurdish matplotlib example](https://github.com/enabling-languages/python-i18n/blob/main/notebooks/matplotlib_mplcairo.ipynb) with Pandas `plot`.

## Setup

In [10]:
import pandas as pd
import locale, platform
import mplcairo
import matplotlib as mpl
if platform.system() == "Darwin":
    mpl.use("module://mplcairo.macosx")
else:
   mpl.use("module://mplcairo.qt")
import matplotlib.pyplot as plt
import seaborn as sns
import unicodedata as ud, regex as re

## Helper functions

In [11]:
def convert_digits(s, sep = (",", ".")):
    nd = re.compile(r'^-?\p{Nd}[,.\u066B\u066C\u0020\u2009\p{Nd}]*$')
    tsep, dsep = sep
    if nd.match(s):
        s = s.replace(tsep, "")
        s = ''.join([str(ud.decimal(c, c)) for c in s])
        if dsep in s:
            return float(s.replace(dsep, ".")) if dsep != "." else float(s)
        return int(s)
    return s

seps = ("\u066C", "\u066B")
digitsconv = lambda x: convert_digits(x.replace("-", "٠"), sep = seps)

## Process data and plot data

In [12]:
import pandas as pd
conv = {
    'سووریا': digitsconv,
    'عێراق': digitsconv,
    'ئێران': digitsconv,
    'تورکیا': digitsconv,
    'جیھانی': digitsconv
}
df = pd.read_table("../data/demographics.tsv", converters=conv)
df

                       ---    جیھانی    تورکیا    ئێران    عێراق   سووریا
0                  کرمانجی  14419000   7919000   443000  3185000  1661000
1  ئەوانەی بە تورکی دەدوێن   5732000   5732000        0        0        0
2                   باشوور   3381000         0  3381000        0        0
3                   سۆرانی   1576000         0   502000   567000        0
4           زازایی - دەملی   1125000   1125000        0        0        0
5         زازایی - ئەلڤێکا    184000    179000        0        0        0
6                   ڕەوەند     90000     38000    20000    33000        0
7                  ھەورامی     54000         0    26000    28000        0
8                    شکاکی     49000     23000    26000        0        0
9                 کۆی گشتی  26712000  15016000  4398000  3916000  1661000

In [13]:
col_list=["تورکیا" ,"ئێران" ,"عێراق" ,"سووریا"]

total_df = df[col_list].sum(axis=0)
print(total_df)

تورکیا    30032000
ئێران      8796000
عێراق      7729000
سووریا     3322000
dtype: int64

Using indicies and values of the `total_df` series:

In [27]:
sns.set_style('darkgrid')
sns.set_context({"font.family": "Vazirmatn"})

bp = sns.barplot(x=total_df.index, y=total_df.values)
bp.set_title('ڕێژەی دانیشتووانی کورد')
bp.set_xlabel("ناوچە")
bp.set_ylabel(" ڕێژەی دانیشتووان")

plt.show()